.comment-section {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100px;


    font-size: 20px;
    font-weight: 500;
    color: rgb(15, 15, 15);
    
    word-break: break-word;
    line-height: 26px;
    padding-top: 1px;
}

.sort-comments {
    height: 30px;
    padding-left: 27px;
    margin-bottom: -7px;
}

.the-actual-comments {
    padding-bottom: 10px;
}

.comment-line2 {
    margin-top: 10px;
    margin-bottom: 24px;
    display: grid;
    grid-template-columns: 42px 1fr;
    column-gap: 15px;
}

.comment-box-photo {
    height: 42px;
    border-radius: 100px;
}

.comment-box {
    border: none;
    border-bottom-style: solid;
    border-bottom-color: rgba(161, 161, 161, 0.389);
    border-bottom-width: 1.5px;
    padding-bottom: 5px;
    font-size: 14px;
    width: 95%;
}

.comment {
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    width: 100%;
    font-size: 13px;
    margin-bottom: 14px;
}

.real-comment-info {
    display: grid;
    grid-template-rows: 22.5px 25px 35px;
    padding-left: 15px;
}

.comment-pfp {
    width: 100%;
    border-radius: 100px;
    margin-top: 3px;
}

.the-real-comment {
    font-weight: 400;
    font-size: 14px;
}

.comments-row {
    position: relative;
}

.comment-thumb-up {
    height: 27px;
    padding-top: 6px;
}

.comment-thumb-down {
    height: 27px;
    margin-left: 10px;
}

.comment-settings-image {
    width: 5px;
    padding-left: 1px;
    margin-top: 15px;
}